{{- $signingkey := promptStringOnce . "signingkey" "GPG signing key ID" -}}
[data]
	signingkey = {{ $signingkey | quote }}
[merge]
    command = "meld"
    args = [{{`"{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"`}}]
[diff]
    pager = "delta --side-by-side --line-numbers --navigate"
